Изначально представленная таблица нормализована до 1НФ, поскольку в ячейках таблицы нет повторяющихся значений. Заметим, что в таблице некоторые данные (brand, product_line и др) зависят от product_id, а не от transaction_id, из-за чего многие строчки повторяются, меняется только transaction_id. Чтобы нормализовать таблицу до 2НФ, необходимо разделить ее на 2 таблицы: transactions и products. Ниже реализовано разделение на таблицы transactions и products. Теперь вся информация о продуктах содержится в табл products и не дублируется в transactions.

Table transactions {
  transaction_ID integer [primary key]
  product_ID integer
  customer_ID text
  transaction_date varchar
  online_order varchar
  order_status text
}

Table products {
  product_ID integer [primary key]
  brand text
  product_line text
  product_class text
  product_size text
  list_price varchar
  standard_cost varchar
}

Ref: transactions.product_ID > products.product_ID

<img src="pipl.png" width="600">

Однако в исходной таблице наблюдается транзитивная зависимость. В transactions есть customer_id, от которого зависят различные поля, например, first_name, last_name. Значит, для нормализации ттаблицы до 3НФ, нужно вынести customers в отдельную табл и сделать ключом customer_id. Тогда транзитивность будет устранена.

Table transactions {
  transaction_ID integer [primary key]
  product_ID integer
  customer_ID text
  transaction_date varchar
  online_order varchar
  order_status text
}

Table products {
  product_ID integer [primary key]
  brand text
  product_line text
  product_class text
  product_size text
  list_price varchar
  standard_cost varchar
}

Table customers {
  customer_ID integer
  first_name text
  last_name text
  gender text
  DOB varchar
  job_title text
  job_industry_category text
  wealth_segment text
  deceased_indicator text
  owns_car text
  address  varchar
  postcode integer
  state text
  country text
  property_valuation integer
}
Ref: transactions.product_ID > products.product_ID
Ref: transactions.customer_ID > customers.customer_ID

<img src="stop.png" width="600">

Теперь сделаем таблицу в DBeaver и загрузим туда данные. Код на PostgreSQL:

create table public.transactions(
	transaction_ID integer primary key
	,product_ID integer not null
	,customer_ID text not null
	,transaction_date varchar not null
	,online_order varchar
	,order_status text not null
);

create table public.products(
	product_ID integer primary key
	,brand text
	,product_line text
	,product_class text
	,product_size text
	,list_price varchar
	,standard_cost varchar
);

create table public.customers(
	customer_ID integer primary key
	,first_name text
	,last_name text
	,gender text
	,DOB varchar
	,job_title text
	,job_industry_category text
	,wealth_segment text not null
	,deceased_indicator text not null
	,owns_car text not null
	,address  varchar not null
	,postcode integer not null
	,state text not null
	,country text not null
	,property_valuation integer not null
);

<img src="itog.png" width="600">

Теперь загружаем данные с таблицей customers

<img src="1.png" width="600">

Проверяем, что все поля существуют

<img src="2.png" width="600">

<img src="3.png" width="600">

<img src="4.png" width="600">

Отлично, все загружено. Загружаем данные для таблицы products.

<img src="5.png" width="600">

Появилась ошибка - обнаружены дублирующиеся данные в поле product_ID, хотя мы ставили ранее ограничение, что они должны быть уникальными.

<img src="6.png" width="600">

В Excel удаляем дублирующиеся значения, остается порядка 400 уникальных значений. Загружаем products еще раз - теперь все работает.

<img src="7.png" width="600">

Теперь загружаем таблицу transactions. Идем по стандартной схеме

<img src="8.png" width="600">

<img src="9.png" width="600">

Все получилось.